{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pedido.css' %}">
    <title>Pedidos</title>
</head>

<body>
    <nav>
        <a href="{% url 'index' %}"><h1 class="logo">Fome de Quê?</h1></a>
    </nav>
    <header>
        <h1 class="page-title">Pedidos</h1>
    </header>
    <main>
        <section class="orders-container">
            <h2>Carrinho</h2>
            <!-- Div para exibir os itens do carrinho -->
            <div id="carrinho"></div>
            <!-- Div para exibir o valor total -->
            <p>Total: R$ <span id="total">0</span></p>
        </section>

        <div class="action-buttons">
            <!-- Botões de ação -->
            <button class="finalize-btn" onclick="finalizarPedido()">Finalizar Pedido</button>
            <button class="add-btn" onclick="window.location.href= '{% url 'food-menu'%}';">Adicionar Pedido</button>
            <button class="cancel-btn" onclick="cancelarPedido()">Cancelar Pedido</button>
        </div>
        
    </main>

    <!-- Scripts -->
    <script src="{% static 'js/carrinho.js' %}"></script>
    <script>
        // Carrega o estado do carrinho do Local Storage ao carregar a página
        document.addEventListener("DOMContentLoaded", function () {
            const usuario = localStorage.getItem("usuario");

            // Verifica se o usuário está logado
            if (!usuario) {
                alert("Você precisa estar logado para acessar a página de pedidos.");
                window.location.href = "{% url 'index' %}";
                return;
            }

            // Carrega o carrinho do Local Storage
            const carrinhoSalvo = JSON.parse(localStorage.getItem("carrinho")) || [];
            carrinho = carrinhoSalvo; // Atualiza a variável `carrinho` no script
            atualizarCarrinho(); // Atualiza a interface com os dados salvos
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/carrinho.js' %}"></script>

</body>
</html>
